* {
  box-sizing: border-box;
}

.container-3 {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "ppal-title ppal-title ppal-title ppal-title"
    "card-container card-container card-container card-container";
  margin-top: 250px;
  margin-bottom: 250px;
  overflow: hidden;
}

.ppal-title {
  display: grid;
  grid-area: ppal-title;
  font-size: 35pt;
  font-family: "Unbounded";
  grid-column: 2/4;
  grid-row: 1/2;
}

.card-container {
  display: grid;
  grid-template-areas: "card-proj";
  grid-column-start: 2;
  grid-column-end: 4;
  gap: 50px;
}

.card-proj {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr auto;
  grid-area: "card-proj";
  border: 1px solid;
}

.card-number {
  display: flex;
  text-align: left;
  font-family: "Unbounded";
  font-size: 70pt;
  padding-left: 20px;
  margin-bottom: 0;
}

.card-text h2,
h3,
p {

  flex-direction: column;
  max-height: 629.69px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  vertical-align: middle;
}

.card-title {
  font-size: 30px;
  font-family: "Lato";

}

p {
  font-size: 20px;
  font-family: "Lato";
}



.card-img img {
  display: grid;
  height: 629.69px;
  object-fit: cover;
  vertical-align: middle;
}

.card-proj {
  display: grid;

}

 a {
  display: inline-flex;
  padding: 14px 18px;
  width: 250px;
  border: 2px solid;
  border-radius: 30px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  grid-row: 2/3;
  font-family: "Lato";
  justify-content: center;
}

.card-text{
  font-family: "Lato";
  text-decoration: none;
}

.buttons{
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
  padding:20px;
  text-align: center;
  justify-content: center;


}

