<div class="container-3">
  <div class="ppal-title">
    <h2 class="about-me" id="projects">PROJECTS</h2>
  </div>
  <div class="card-container">
    <div class="card-proj">
      <div class="card-text">
        <!--<h2 class="card-number">01</h2>!-->
        <h3 class="card-title">FVK COLLECTION</h3>
        <p>
          Private cabins rentals website. Built using HTML/ CSS, Javascript.
          Formspree was used for the contact form.
        </p>
        <div class="buttons">
          <a href="https://fvkcollection.netlify.app/" class="btn-demo">DEMO</a>
          <a
            href="https://github.com/sorayanfurter/TPODesarrolloWeb"
            class="btn-github"
            >GITHUB</a
          >
        </div>
      </div>
      <div class="card-img">
        <img
          src="/assets/Captura de pantalla 2023-07-02 031425.png"
          alt=""
          width="100%"
        />
      </div>
    </div>

    <div class="card-proj2">
      <div class="card-text">
        <!--<h2 class="card-number">02</h2>*/!-->
        <h3 class="card-title">VIDEOGAMES DATABASE</h3>
        <p>
          This website was built using Angular and is connected to the
          rawg-videogame-database API. It enables users to search for video
          games by their name, release date, and rating. Users will have the
          option to view screenshots and watch trailers of the selected video
          game.
        </p>
        <div class="buttons">
          <a href="https://videogame-db.netlify.app/" class="btn-demo">DEMO</a>
          <a
            href="https://github.com/sorayanfurter/video-game-db"
            class="btn-github"
            >GITHUB</a
          >
        </div>
      </div>

      <div class="card-img">
        <img src="/assets/Vg-Database.png" alt="" width="100%" />
      </div>
    </div>

    <div class="card-proj">
      <div class="card-text">
        <!--<h2 class="card-number">03</h2>!-->
        <h3 class="card-title">TEST PORTAL</h3>
        <p>
          Built using Angular/Java and designed for creating and taking
          multiple-choice exams. Admins will be
          have able to create exams, add questions with their respective scores,
          and set time limits for users to answer. Additionally, admins can
          organize the exams into different categories and create new ones. On
          the other hand, users will be able to
          take the exams available to them.
        </p>

        <div class="buttons">
          <a
            href="https://github.com/sorayanfurter/portal-examenes-frontend"
            class="btn-demo"
            >DEMO</a
          >
          <a href="" class="btn-github">GITHUB</a>
        </div>
      </div>
      <div class="card-img">
        <img src="/assets/Portal-examenes-2.png" alt="" width="100%" />
      </div>
    </div>
    <!--  <div class="card-proj2">
      <div class="card-text">
        <h2 class="card-number">02</h2>*/!
        <h3 class="card-title">VIDEOGAMES DATABASE</h3>
        <p>
          Made with Angular connected to rawg-videogame-database API. This
          website allows you to search videogames by name, release date and
          rating. You'll be able to watch screenshots and trailers of the
          videogame you select.
        </p>
        <div class="buttons">
          <a href="https://videogame-db.netlify.app/" class="btn-demo">DEMO</a>
          <a
            href="https://github.com/sorayanfurter/video-game-db"
            class="btn-github"
            >GITHUB</a
          >
        </div>
      </div>

      <div class="card-img">
        <img src="/assets/Captura de pantalla 2023-07-04 215112.png" alt=""  width="100%">
      </div>
    </div>-->
  </div>
</div>
