* {
  box-sizing: border-box;
}

.container-4 {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "ppal-title ppal-title ppal-title ppal-title";
  margin-top: 250px;
  margin-bottom: 250px;
  overflow: hidden;
}


.icons{
  display: inline-block;
  grid-column: 2/4;
  grid-row: 3/4;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

img{
 width: min-content;
  padding: 20px;
 object-fit:cover;
 width: 100px;
 height: 100px;
}

.tech-skills{
  display: grid;
  grid-column: 2/3;

}

.text{
  display: grid ;
  grid-column: 2/3;
  font-family: "Lato";
  padding:30px;
  border-radius: 30px;
  border: 1px solid;
  margin: 20px;
}

.text-2{
  display: grid;
  grid-column: 3/4;
  font-family: "Lato";
  padding:30px;
  border-radius: 30px;
  border: 1px solid ;
  margin: 20px;

}


ul, h3{
  font-family: "Lato";
  list-style: none;
  text-align: center;
}

.softskills{
  display: grid;
  grid-column: 3/4;
  justify-items: center;
}

.ppal-title {
  display: grid;
  grid-area: ppal-title;
  font-size: 35pt;
  font-family: "Unbounded";
  grid-column: 2/4;
  grid-row: 1/2;
}



  .filterGrey {
    filter:grayscale(1);
    &:hover {
          filter: none;
      }
  }
