* {
  box-sizing: border-box;
}

@media (min-width: 320px) {

  .container-4 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    overflow: hidden;
    margin-bottom: 100px;
  }

  .ppal-title {
    display: grid;
    font-size: 25pt;
    font-family: "Unbounded";
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: left;
    margin: 0px 0px 0px 40px;
  }

  .icons {
    display: inline-block;
    grid-column: 1/5;
    grid-row: 5/6;
    margin: 30px 30px 10px 30px;
    justify-content: center;
    text-align: center;
  }

  img {
    width: min-content;
    padding: 13px;
    object-fit: cover;
    width: 60px;
    height: 60px;
  }

  .text {
    display: grid;
    font-family: "Lato";
    padding: 30px;
    border-radius: 5px;
    border: 1px solid;
    margin: 0px 40px 20px 40px;
    grid-column: 1/5;
    grid-row: 2/3;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
    background-color: whitesmoke;
    padding: 20px;
  }

  .text-2 {
    display: grid;
    grid-column: 1/5;
    font-family: "Lato";
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
    margin: 20px 40px 20px 40px;
    grid-row: 3/4;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
    background-color: whitesmoke;
  }
}

@media (min-width: 768px) {
  .container-4 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr;
    grid-template-areas: "ppal-title ppal-title ppal-title ppal-title";
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .icons {
    grid-column: 2/6;
    grid-row: 3/4;
    margin: 50px 5px 0px 5px;
  }

  img {
    width: min-content;
    padding: 20px;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

  .text {
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3;
    font-family: "Lato";
    text-align: center;
    padding: 20px;
    border: 2px solid;
    margin: 0px 10px 0px 0px;
    justify-content: left;
    font-size: 18px;
  }

  .text-2 {
    display: grid;
    grid-column: 4/6;
    grid-row: 2/3;
    font-family: "Lato";
    font-size: 18px;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    margin: 0px 0px 0px 10px;
  }

  ul,
  h3 {
    font-family: "Lato";
    list-style: none;
    text-align: center;
  }

  .softskills {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-items: center;
  }

  .ppal-title {
    font-size: 35pt;
    grid-column: 2/6;
    grid-row: 1/2;
    margin: 0px;
  }

  .filterGrey {
    filter: grayscale(1);
    &:hover {
      filter: none;
    }
  }
}

