<div class="container-4" id="skills">
  <div data-aos="fade-right" class="ppal-title">
    <h2>SKILLS</h2>
  </div>
  <div class="icons-title">
    TECHNOLOGIES
  </div>
  <div data-aos="fade-up" data-aos-duration="800" class="icons">

    <div class="ind-icon">
      <img
        src="/assets/HTML200.svg"
        alt="HTML"
        width="100%"
        class="filterGrey"
      />
      <h3>HTML</h3>
    </div>
    <div class="ind-icon">
      <img src="/assets/CSS3.svg" alt="CSS3" width="100%" class="filterGrey" />
      <h3>CSS</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/Bootstrap.svg"
        alt="Bootstrap"
        width="100%"
        class="filterGrey"
      />
      <h3>BOOTSTRAP</h3>
    </div>

    <div class="ind-icon">
      <img
        src="/assets/angular200.svg"
        alt="Angular"
        width="100%"
        class="filterGrey"
      />
      <h3>ANGULAR</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/Js200.svg"
        alt="Javascript"
        width="100%"
        class="filterGrey"
      />
      <h3>JAVASCRIPT</h3>
    </div>

    <div class="ind-icon">
      <img
        src="/assets/typescript200.svg"
        alt="Typescript"
        width="100%"
        class="filterGrey"
      />
      <h3>TYPESCRIPT</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/MYSQL100.svg"
        alt="MySQL"
        width="100%"
        class="filterGrey"
      />
      <h3>MySQL</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/springboot200.svg"
        alt="Spring boot"
        width="100%"
        class="filterGrey"
      />
      <h3>SPRING  <br> BOOT</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/Java200.svg"
        alt="Java"
        width="100%"
        class="filterGrey"
      />
      <h3>JAVA</h3>
    </div>
    <div class="ind-icon">
      <img src="/assets/GIT200.svg" alt="Git" width="100%" class="filterGrey" />
      <h3 class="icon-title">GIT</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/github200.svg"
        alt="Github"
        width="100%"
        class="filterGrey"
      />
      <h3>GITHUB</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/Figma200.svg"
        alt="Figma"
        width="100%"
        class="filterGrey"
      />
      <h3>FIGMA</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/photoshop200.svg"
        alt="Photoshop"
        width="100%"
        class="filterGrey"
      />
      <h3>PHOTOSHOP</h3>
    </div>
    <div class="ind-icon">
      <img
        src="/assets/AI200.svg"
        alt="Illustrator"
        width="100%"
        class="filterGrey"
      />
      <h3>ILLUSTRATOR</h3>
    </div>
  </div>
  <div class="softski-title">SOFT SKILLS</div>
  <div data-aos="fade-up" data-aos-duration="800" class="softski-container">
    <div class="ind-softski">
      OWNERSHIP
    </div>
    <div class="ind-softski">
      PROBLEM SOLVING
    </div>
    <div class="ind-softski">
      CRITICAL THINKING
    </div>
    <div class="ind-softski">
      RECEPTIVE TO FEEDBACK
    </div>
    <div class="ind-softski">
      TEAM PLAYER
    </div>
    <div class="ind-softski">
      SELF-MOTIVATED
    </div>
  </div>
</div>
