<div class="container-4"  id="skills">
  <div  data-aos="fade-right" class="ppal-title">
    <h2>SKILLS</h2>
  </div>
  <div data-aos="fade-up" data-aos-duration="500" class="text">
    <h3>TECHNICAL SKILLS</h3>
    <p>
      HTML / CSS3 / Bootstrap / Angular / Javascript / Typescript / MySQL /
      Spring boot / Java / Git / Figma / Adobe Photoshop / Adobe Illustrator /
      Adobe Lightroom
    </p>
  </div>
  <div data-aos="fade-up" data-aos-duration="700" class="text-2">
    <h3>SOFT SKILLS</h3>
    <p>
      Ownership / Problem solving / Critical thinking / Self-motivated /
      Receptive to feedback / Team player /
    </p>
  </div>
  <div data-aos="fade-up" data-aos-duration="800" class="icons">
    <img src="/assets/HTML200.svg" alt="HTML" width="100%" class="filterGrey" />
    <img src="/assets/CSS3.svg" alt="CSS3" width="100%" class="filterGrey" />
    <img
      src="/assets/Bootstrap.svg"
      alt="Bootstrap"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/angular200.svg"
      alt="Angular"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/Js200.svg"
      alt="Javascript"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/typescript200.svg"
      alt="Typescript"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/MYSQL100.svg"
      alt="MySQL"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/springboot200.svg"
      alt="Spring boot"
      width="100%"
      class="filterGrey"
    />
    <img src="/assets/Java200.svg" alt="Java" width="100%" class="filterGrey" />
    <img src="/assets/GIT200.svg" alt="Git" width="100%" class="filterGrey" />
    <img
      src="/assets/github200.svg"
      alt="Github"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/Figma200.svg"
      alt="Figma"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/photoshop200.svg"
      alt="Photoshop"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/AI200.svg"
      alt="Illustrator"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/vsc200.svg"
      alt="Visual Studio Code"
      width="100%"
      class="filterGrey"
    />
    <img
      src="/assets/IJ200.svg"
      alt="Intellij Idea"
      width="100%"
      class="filterGrey"
    />
  </div>
</div>
