<div class="container-4">
  <div class="ppal-title">
    <h2>SKILLS </h2>
  </div>
  <!-- <div class="tech-skills">
    <h3>Technical</h3>
    <ul>
      <li>HTML</li>
      <li>CSS 3</li>
      <li>Bootstrap</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>Angular</li>
      <li>MySQL</li>
      <li>Spring boot</li>
      <li>Java</li>
      <li>Image manipulation software</li>
    </ul>
  </div>
  <div class="softskills">
    <h3>Soft Skills</h3>
    <ul>
      <li>Problem resolution and Creative Thinking</li>
      <li>Communication</li>
      <li>Self-motivated</li>
      <li>Detail oriented and organized</li>
      <li>Ownership</li>
      <li>Receptive to feedback</li>
    </ul>
  </div> -->
  <div class="text">
  <h3>TECHNICAL SKILLS</h3>
  <p>HTML / CSS3 / Bootstrap / Angular / Javascript / Typescript / MySQL / Spring boot / Java / Git / Figma / Adobe Photoshop / Adobe Illustrator / Adobe Lightroom </p>
  </div>
  <div class="text-2">
    <h3>SOFT SKILLS</h3>
    <p>Ownership / Problem solving and critical thinking / Self-motivated / Receptive to feedback / Team player / </p>
  </div>
 <div class="icons">
     <img src="/assets/HTML200.svg" alt="HTML" width="100%" class="filterGrey">
     <img src="/assets/CSS3.svg" alt="CSS3" width="100%" class="filterGrey">
     <img src="/assets/Bootstrap.svg" alt="Bootstrap" width="100%" class="filterGrey">
     <img src="/assets/angular200.svg" alt="Angular" width="100%" class="filterGrey">
     <img src="/assets/Js200.svg" alt="Javascript" width="100%" class="filterGrey">
     <img src="/assets/typescript200.svg" alt="Typescript" width="100%" class="filterGrey">
     <img src="/assets/MYSQL100.svg" alt="MySQL" width="100%" class="filterGrey">
     <img src="/assets/springboot200.svg" alt="Spring boot" width="100%" class="filterGrey">
     <img src="/assets/Java200.svg" alt="Java" width="100%" class="filterGrey">
     <img src="/assets/GIT200.svg" alt="Git" width="100%" class="filterGrey">
     <img src="/assets/github200.svg" alt="Github" width="100%" class="filterGrey">
     <img src="/assets/Figma200.svg" alt="Figma" width="100%" class="filterGrey">
     <img src="/assets/photoshop200.svg" alt="Photoshop" width="100%" class="filterGrey">
     <img src="/assets/AI200.svg" alt="Illustrator" width="100%" class="filterGrey">
     <img src="/assets/vsc200.svg" alt="Visual Studio Code" width="100%" class="filterGrey">
     <img src="/assets/IJ200.svg" alt="Intellij Idea" width="100%" class="filterGrey">


   <!--
   <div class="icon">
     <img src="/assets/HTML.svg" alt="" width="100%">
     <h4>HTML</h4>
   </div>
   <div class="icon">
     <img src="/assets/CSS3.svg" alt="" width="100%">
     <h4>CSS 3</h4>
   </div>
   <div class="icon">
    <img src="/assets/Js.svg" alt="" width="100%">
    <h4>Javascript</h4>
   </div>
   <div class="icon">
     <img src="/assets/Typescript_logo_2020.svg" alt="" width="100%">
     <h4>Typescript</h4>
   </div>
    <div class="icon">
      <img src="/assets/Angular_full_color_logo.svg" alt="" width="100%">
      <h4>Angular</h4>
    </div>
    <div class="icon">
      <img src="/assets/Bootstrap_logo.svg.png" alt="" width="100%">
      <h4>Bootstrap</h4>
    </div>
    <div class="icon">
      <img src="/assets/Git-logo.svg.png" alt="" width="100%">
      <h4>Git</h4>
    </div>
    <div class="icon">
      <img src="/assets/MySQL-Logo.wine.svg" alt="" width="100%">
      <h4>MySQL</h4>
    </div>
    <div class="icon">
      <img src="/assets/Figma-logo.svg" alt="" width="100%">
      <h4>Figma</h4>
    </div>
    <div class="icon">
      <img src="/assets/spring-boot-logo.svg" alt="" width="100%">
      <h4>Spring boot</h4>
    </div>
    <div class="icon">
      <img src="/assets/java-4-logo-svgrepo-com.svg" alt="" width="100%">
      <h4>Java</h4>
    </div>
    <div class="icon">
      <img src="/assets/postman-icon-svgrepo-com.svg" alt="" width="100%">
      <h4>Postman</h4>
    </div>
    <div class="icon">
      <img src="/assets/Visual_Studio_Code_1.35_icon.svg" alt="" width="100%">
      <h4>Visual Studio Code</h4>
    </div>
    <div class="icon">
      <img src="/assets/IntelliJ_IDEA_Icon.svg" alt="" width="100%">
      <h4>Intelij Idea</h4>
    </div>
    <div class="icon">
      <img src="/assets/Adobe_Photoshop_CC_icon.svg" alt="" width="100%">
      <h4>Adobe Photoshop</h4>
    </div>
    <div class="icon">
      <img src="/assets/Adobe_Illustrator_CC_icon.svg" alt="" width="100%">
      <h4>Adobe Illustrator</h4>
    </div>
    <div class="icon">
      <img src="/assets/Adobe_Photoshop_Lightroom_CC_logo.svg" alt="" width="100%">
      <h4>Adobe Lightroom</h4>
    </div>
    <div class="icon">
      <img src="/assets/Github.svg" alt="" width="100%">
      <h4>Github</h4>
    </div> -->
 </div>
</div>
