<div class="container-5">
  <div class="ppal-title">
    <h2 id="contact">CONTACT</h2>
  </div>
  <duet-alert *ngIf="message" variation="success" dismissible> Thank you for your message! It will be answered as soon as possible </duet-alert>
  <form [formGroup]="FormData" method="post" (ngSubmit)="onSubmit(FormData.value)">

    <div class="form-group">
      <label for="fullname">FULL NAME </label>
      <input
        type="text"
        class="form-control"
        name="Fullname"
        placeholder=""
        formControlName="Fullname"
      />
    </div>
    <div class="form-group">
      <label for="Email">EMAIL</label>
      <input
        type="email"
        class="form-control"
        name="Email"
        aria-describedby="emailHelp"
        placeholder=""
        formControlName="Email"
      />
    </div>
    <div class="form-group">
      <label for="comment">MESSAGE</label>
      <textarea
        class="form-control"
        formControlName="Comment"
        placeholder=""
        name="Comment"
      >
      </textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      id="form-button"
      [disabled]="!FormData.valid"
    >
      SUBMIT
    </button>
  </form>
</div>
