* {
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .container-5 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "ppal-title ppal-title ppal-title ppal-title";
    margin-top: 100px;
    margin-bottom: 250px;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
  }

  .ppal-title {
    display: grid;
    grid-area: ppal-title;
    font-size: 21pt;
    font-family: "Unbounded";
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 0px 0px 0px 40px;
  }

  form {
    display: grid;
    font-family: "Lato";
    grid-column: 1/5;
    grid-row: 3/4;
    padding: 40px 40px 40px 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 0px 40px 40px 40px;

  }

  label{
    margin-bottom: 30px;
  }

  #form-button {
    overflow: visible;
    background:none;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;

  }

  textarea {
    overflow: auto;
  }

  .email {
    float: right;
    width: 100%;
  }

  input[type="text"],
  [type="email"],
  textarea {
    background: none;
    border: solid 1px #474544;
    color: #474544;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

  }

  .name {
    float: left;
    width: 100%;
  }

  .subject {
    width: 100%;
  }

  textarea {
    height: 150px;
    resize: none;
    width: 100%;
  }


  duet-alert{
  display: grid;
  grid-column: 2/5;
  grid-row: 2/3;
 }

 button{
  border: 2px solid black;
    border-radius: 30px;
    box-shadow: black 4px 4px 0 0;

 }
}

@media (min-width: 768px){
  .container-5{
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  }
  form{
    grid-column: 2/5;
    margin: 0px 0px 40px 0px;
  }

  .ppal-title{
    grid-column: 2/5;
    font-size: 35pt;
    margin-left: 0;
  }
}
