<main>
  <div class="container">
    <div class="stars">
      <img src="/assets/stars-svgrepo-com (2).svg" alt="" width="100%">
    </div>
    <div class="welcometxt">
      <div class="hello">
        <h1>Hello there! I'm</h1>
      </div>
      <div class="fullname">
        <h1>SORAYA<br />FERULANO PAEZ</h1>
      </div>
      <div class="title">
        <h2>Fullstack Developer</h2>
      </div>
    </div>
    <div class="button">
      <button (click)="downloadPdf()" class="button-style" role="button">DOWNLOAD CV</button>
    </div>



  </div>
</main>
