<main>
  <div class="container" id="home">
    <div class="stars" data-aos="fade-up" >
      <img src="/assets/stars-svgrepo-com (2).svg" alt="" width="100%">
    </div>
    <div class="welcometxt">
      <div class="hello" data-aos="fade-right">
        <h1 class="hello-fontweight">Hello there! I'm</h1>
      </div>
      <div class="fullname" data-aos="fade-up" >
        <h1>Soraya<br />Ferulano Paez</h1>
      </div>
      <div class="title" data-aos="fade-left">
        <h2 class="title-fontweight">Fullstack Developer</h2>
      </div>
    </div>
    <div class="button" data-aos="fade-up">
      <button (click)="downloadPdf()" class="button-style" role="button">DOWNLOAD CV</button>
    </div>



  </div>
</main>
