<main>
  <div class="container">
    <!-- <div class="stars">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 600 600"
        style="enable-background: new 0 0 600 600"
        xml:space="preserve"
        width="800"
        height="800"
      >
        <style type="text/css">
          .st0 {
            fill: none;
            stroke: #222120;
            stroke-width: 1.4754;
            stroke-miterlimit: 10;
          }
        </style>
        <g>
          <ellipse
            transform="matrix(0.6773 -0.7357 0.7357 0.6773 -124.7743 317.9157)"
            class="st0 svg-elem-1"
            cx="300"
            cy="301.2"
            rx="307.8"
            ry="94.4"
          ></ellipse>
          <g>
            <g>
              <path
                class="st0 svg-elem-2"
                d="M406.6,7.6c-6.2,12.3-1.2,27.4,11.2,33.5c-12.3-6.2-27.4-1.2-33.5,11.2c6.2-12.3,1.2-27.4-11.2-33.5
              C385,24.7,400.5,19.9,406.6,7.6z"
              ></path>
            </g>
            <g>
              <path
                class="st0 svg-elem-3"
                d="M293.2,526c-9.2,18.3-1.7,40.6,16.6,49.8c-18.3-9.2-40.6-1.7-49.8,16.6c9.2-18.3,1.7-40.6-16.6-49.8
              C261.1,551.5,284,544.3,293.2,526z"
              ></path>
            </g>
            <g>
              <path
                class="st0 svg-elem-4"
                d="M313.5,17c-9.2,18.3-1.7,40.6,16.6,49.8c-18.3-9.2-40.6-1.7-49.8,16.6c9.2-18.3,1.7-40.6-16.6-49.8
              C281.4,42.4,304.3,35.3,313.5,17z"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </div> -->
    <div class="welcometxt">
      <div class="hello">
        <h1>Hello there! I'm</h1>
      </div>
      <div class="fullname">
        <h1>SORAYA<br />FERULANO PAEZ</h1>
      </div>
      <div class="title">
        <h2>Fullstack Developer</h2>
      </div>
    </div>

    <div class="sm-icons">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/soraya-ferulano-paez/" target="_blank">
            <i class="fab fa-linkedin" tabindex="0"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/sorayanfurter/" target="_blank">
            <i class="fab fa-github" tabindex="0"></i>
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/maleva" target="_blank">
            <i class="fab fa-square-behance" tabindex="0"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="button">
      <button class="button-style" role="button">DOWNLOAD CV</button>
    </div>
  </div>
</main>
