<div class="container-2">
  <hr />
  <div class="title">

    <h2 class="about-me">
      ABOUT<br />
      ME /
    </h2>
  </div>
  <div class="text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit
      nesciunt ratione temporibus dolores reiciendis nostrum quos eaque quisquam
      te. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit
      nesciunt ratione temporibus dolores reiciendis nostrum quos eaque quisquam
      te. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit
      nesciunt ratione temporibus dolores reiciendis nostrum quos eaque quisquam
      te.Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
  <div class="avatar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Soraya_Esfandiary-Bakhtiari-045.jpg" alt="" width="70%">
  </div>

  <div id="rectangle"></div>
</div>
