<div class="container-2" id="about">
  <div class="title">
    <h2  data-aos="fade-right" class="about-me" >
      ABOUT<br />
      ME
    </h2>
  </div>
  <div  data-aos="fade-up" class="avatar">
    <img src="/assets/Foto-cv.jpg" />
  </div>
  <div data-aos="fade-up"  class="text">
    <p>
      I'm a web developer based in Buenos Aires, Argentina. Everyday I strive to
      expand my knowledge in Front and Back-End development. I am constantly
      seeking to incorporate new tools to enhance my analytical abilities and
      increase efficiency in problem-solving.
      <!--Cada día me esfuerzo por ampliar mis conocimientos en Front-End y Back-End con el propósito de aprovechar al máximo su potencial. Busco constantemente incorporar nuevas herramientas para mejorar mi capacidad de análisis y aumentar mi eficiencia en la resolución de problemas. Mi objetivo principal es enfrentar nuevos desafíos de manera colaborativa, trabajando en equipo para alcanzar un objetivo común.-->
    </p>
    <div data-aos="fade-up" class="sm-icons">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/soraya-ferulano-paez/" target="_blank">
            <i class="fab fa-linkedin" tabindex="0"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/sorayanfurter/" target="_blank">
            <i class="fab fa-github" tabindex="0"></i>
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/maleva" target="_blank">
            <i class="fab fa-square-behance" tabindex="0"></i>
          </a>
        </li>
      </ul>
    </div>


  </div>


</div>
