<div class="container-2">
  <div class="title">
    <h2 class="about-me" id="about">
      ABOUT<br/>
         ME
    </h2>
  </div>
  <!--
  <div class="stars">
    <img id="stars" src="/assets/stars-svgrepo-com.svg" alt="">
  </div>-->
  <div class="text">
    <p>
       I'm a web developer based in Buenos Aires, Argentina. I'm experienced in
      HTML, CSS 3, Bootstrap, Javascript, Angular, Typescript, MySQL, Spring
      boot and Java but I'm quick (and always interested) to learn new ways of
      solving problems every time I have the opportunity.
      <!--Cada día me esfuerzo por ampliar mis conocimientos en Front-End y Back-End con el propósito de aprovechar al máximo su potencial. Busco constantemente incorporar nuevas herramientas para mejorar mi capacidad de análisis y aumentar mi eficiencia en la resolución de problemas. Mi objetivo principal es enfrentar nuevos desafíos de manera colaborativa, trabajando en equipo para alcanzar un objetivo común.-->
    </p>
  </div>

  <div class="avatar">
    <img
      src="/assets/FD27E268-D647-4911-9521-28C8F93DB58B.jpg"
      alt=""

    />
  </div>



</div>
