@media (min-width: 320px) {
  .container-2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: max-content;
    margin-bottom: 100px;
  }

  .title {
    display: grid;
    font-size: 25pt;
    font-family: "Unbounded";
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: left;
    margin: 0px 40px 0px 40px;
    padding-bottom: 0px;
  }

  .avatar {
    display: grid;
    grid-column: 1/5;
    grid-row: 2/3;
    justify-items: center;
    margin-top: 0px;
    max-height: fit-content;
  }

  img {
    grid-row: 2/3;
    border-radius: 500px;
    width: 80%;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
    margin-top: 0px;
    max-height: fit-content;
  }

  .text {
    display: grid;
    grid-column: 1/5;
    grid-row: 3/4;
    margin: 20px 40px 0px 40px;
    justify-content: center;
  }
  p {
    align-content: center;
    align-self: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: 500;
    text-align: center;
    font-size: 14pt;
    background-color: whitesmoke;
    max-height: fit-content;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 25px 25px 25px 25px;
  }
}

@media (min-width: 768px) {
  .container-2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .title {
    display: grid;
    font-size: 35pt;
    grid-column: 2/5;
    grid-row: 1/2;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 2;
  }
  .avatar {
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-top: 0px;
    justify-items: right;
    align-self: center;
    max-width: fit-content;
    max-height: max-content;
    vertical-align: middle;
  }

  img {
    border-radius: 500px;
    width: 115%;
    vertical-align: middle;
  }

  .text {
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 0px 30px 0px 0px;
    padding: 0px 20px 0px 0px;
    justify-self: left;
    vertical-align: middle;
  }
  p {
    padding: 30px 50px 30px 50px;
  }
}

@media (min-width: 1200px) {
  .container-2 {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-row: 0.5fr 1fr;
  }

  .title {
    grid-column: 2/5;
    justify-content: left;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }

  .about-me {
    margin-left: 0px;
  }

  .avatar {
    grid-column: 4/5;
    align-self: end;
    justify-items: center;
  }

  img {
    width: 80%;
  }

  .text {
    grid-column: 2/4;
    margin-right: 30px;
    justify-content: center;
  }

  p {
    padding: 50px 50px 50px 50px;
  }
}
