<div class="sm-icons">
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/soraya-ferulano-paez/" target="_blank">
        <i class="fab fa-linkedin" tabindex="0"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/sorayanfurter/" target="_blank">
        <i class="fab fa-github" tabindex="0"></i>
      </a>
    </li>
    <li>
      <a href="https://www.behance.net/maleva" target="_blank">
        <i class="fab fa-square-behance" tabindex="0"></i>
      </a>
    </li>
  </ul>
</div>

